/* p-topFv
----------------------------------------------------------------- */
@use "../../global" as g;

.p-topFv {
    margin-top: 8.7rem;
    background: url(../images/sp/fv.jpg) no-repeat center top/cover;
    // min-height: calc(70rem + 8.7rem);
    height: calc(100vh - 8.7rem); // svhが効かない時の保険
    height: calc(100svh - 8.7rem);
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -69%;
        width: 100%;
        height: 100%;
        background: var(--black);
        opacity: 0.8;
        transform: skewX(12.5deg);
    }

    &__textContents {
        position: relative;
        z-index: 10;
    }
    
    &__inner {
        padding-left: 1.9rem;
    }
    
    &__textBox {
        margin-top: g.vh_sp(294);
    }
    
    &__mainText {
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 150%;
        color: var(--white);

        &--littleSmallFz {
            font-size: 0.75em;
        }
        
        &--mlSmallLittleFz {
            font-size: 0.75em;
            margin-left: -0.5rem;
        }

        &--smallFz {
            font-size: 0.875em;
        }

        &--bigFz {
            @extend .p-topFv__mainText;
            font-size: 1.25em;
            font-weight: bold;
        }
    }

    /* Start swiperText */
    &__textSwiperContainer {
        overflow: hidden;
    }

    &__textSwiper {
        overflow: visible;
        padding-top: 1.1rem;
        padding-bottom: 1rem;
        border-top: 1px solid var(--white);
        border-bottom: 1px solid var(--white);
    }

    &__textWrapper {
        transition-timing-function: linear;
        align-items: center;
    }

    &__textSlide {
        width: auto !important;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1;
        color: var(--white);
        margin-top: -.3rem;

        &--en {
            @extend .p-topFv__textSlide;
            font-family: var(--en);
            font-size: 2.2rem;
            font-weight: 500;
            margin-top: 0;
        }
    }
    /* End swiperText */

    /* Start swiperImages */
    &__imagesSwiperContainer {
        margin-top: 2.5rem;
        overflow: hidden;
    }

    &__imagesSwiper {
        overflow: visible;
    }

    &__imagesWrapper {
        transition-timing-function: linear;
        align-items: center;
    }

    &__imagesSlide {
        width: auto !important;
        max-width: 16rem;
    }

    &__imagesSlideImg {
        width: 100%;
    }
    /* End swiperImages */
}
