/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* base css
----------------------------------------------------------------- */
:root {
  --white: #F9F9F9;
  --black: #211E1E;
  --en: "Montserrat", system-ui, sans-serif;
  --en2: "Sawarabi Gothic", system-ui, sans-serif;
  --ja: "Noto Sans JP", "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: var(--ja);
  font-weight: 400;
  font-style: normal;
  color: var(--white);
  background-color: var(--black);
}
body.is-fixed {
  overflow: hidden;
  height: 100%;
}

main {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.error {
  text-align: center;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 2.5641025641vw;
  }
}
@media screen and (min-width: 1921px) {
  body {
    max-width: 192rem;
    margin: 0 auto;
  }
}
/* keyframes css
----------------------------------------------------------------- */
/* l-contents
----------------------------------------------------------------- */
@media (min-width: 767px) {
  .l-contents {
    padding-top: 45px;
  }
}

/* l-container
----------------------------------------------------------------- */
.l-container, .l-container--extraWide, .l-container--wide, .l-container--smallWidth {
  max-width: 809px;
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;
}
.l-container--smallWidth {
  max-width: 792px;
  padding: 0 40px;
}
.l-container--wide {
  max-width: 1032px;
  padding: 0 25px;
}
.l-container--extraWide {
  max-width: 1259px;
  padding: 0 50px;
}

/* l-header
----------------------------------------------------------------- */
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
@media (min-width: 767px) {
  .l-header {
    position: fixed;
    left: unset;
    right: 2.1527777778%;
    overflow: hidden;
    height: 8.4rem;
    max-width: 39rem;
  }
}
.l-header__inner {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media (min-width: 767px) {
  .l-header__inner {
    padding-left: 2rem;
    padding-right: 2.8rem;
  }
}
.l-header__logo {
  padding-top: 1rem;
  width: 100%;
}
.l-header__logoLink {
  display: block;
  max-width: 6.9rem;
  width: 100%;
}
.l-header__logoImg {
  width: 100%;
}
.l-header__hamburgerBtn {
  margin-left: auto;
  width: 7rem;
  height: 7rem;
  position: relative;
  margin-right: 0.5rem;
}
.l-header__hamburgerBtn::before {
  content: "";
  position: absolute;
  top: calc(50% - 2.3rem);
  left: calc(50% + 0.4rem);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 13.8rem;
  height: 13.8rem;
  border-radius: 50%;
  border: 1px solid var(--white);
}
.l-header__hamburgerBox {
  width: 100%;
  height: 100%;
  position: relative;
}
.l-header__bar {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5rem;
  height: 0.2rem;
  background: var(--white);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0.1rem;
}
.l-header__bar:first-of-type {
  top: calc(50% - 1.3rem);
}
.l-header__bar:nth-of-type(2) {
  max-width: 68%;
  -webkit-transform: translate(calc(-50% - 0.5rem), -50%);
          transform: translate(calc(-50% - 0.5rem), -50%);
}
.l-header__bar:last-of-type {
  top: calc(50% + 1.3rem);
}

@media screen and (min-width: 767px) and (max-width: 920px) {
  .l-header {
    right: 4.7826086957vw;
  }
}
@media screen and (min-width: 1920px) {
  .l-header {
    left: unset;
    right: unset;
  }
}
/* l-header
----------------------------------------------------------------- */
@media (min-width: 921px) {
  .l-fv {
    position: fixed;
    top: 0;
    left: 0;
    background: url(../images/fv.jpg) no-repeat center top/cover;
    height: 100vh;
    width: 100%;
  }
}
@media (min-width: 767px) {
  .l-fv::after {
    content: "";
    position: absolute;
    top: 0;
    left: -76%;
    width: 100%;
    height: 100%;
    background: var(--black);
    opacity: 0.8;
    -webkit-transform: skewX(14.5deg);
            transform: skewX(14.5deg);
    z-index: -1;
  }
}
@media (min-width: 767px) {
  .l-fv__loopTextContainer {
    margin-top: 7.5535512965vh;
  }
}
@media (min-width: 767px) {
  .l-fv__textBox {
    margin-top: 24.5772266065vh;
    margin-left: 8.1944444444vw;
  }
}
@media (min-width: 767px) {
  .l-fv__mainText, .l-fv__mainText--bigFz, .l-fv__mainText--littleSmallFz, .l-fv__mainText--smallFz, .l-fv__mainText--mlSmallLittleFz {
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 150%;
    color: var(--white);
  }
}
.l-fv__mainText--mlSmallLittleFz {
  font-size: 0.8333em;
  margin-left: -0.9rem;
}
.l-fv__mainText--smallFz {
  font-size: 0.916em;
}
.l-fv__mainText--littleSmallFz {
  font-size: 0.8333em;
  margin-left: 0.4rem;
}
.l-fv__mainText--bigFz {
  font-size: 1.1667em;
}
@media (min-width: 767px) {
  .l-fv__loopImagesContainer {
    margin-top: 14.2051860203vh;
  }
}

@media (min-width: 767px) and (max-width: 920px) {
  .l-fv {
    position: fixed;
    top: 0;
    left: 0;
    background: url(../images/fv-tablet-bg.jpg) no-repeat center top/cover;
    height: 100vh;
    width: 100%;
  }
  .l-fv__loopTextContainer {
    margin-top: 8.7rem;
  }
  .l-fv__textBox {
    margin-top: 17.0822942643svh;
    margin-left: 8.0434782609vw;
  }
  .l-fv__mainText, .l-fv__mainText--mlSmallLittleFz, .l-fv__mainText--smallFz, .l-fv__mainText--littleSmallFz, .l-fv__mainText--bigFz {
    font-size: min(4.082rem, 4.4369565217vw);
  }
  .l-fv__mainText--mlSmallLittleFz {
    font-size: 0.8333em;
    margin-left: -0.9rem;
  }
  .l-fv__mainText--smallFz {
    font-size: 0.916em;
  }
  .l-fv__mainText--littleSmallFz {
    font-size: 0.8333em;
    margin-left: 0.4rem;
  }
  .l-fv__mainText--bigFz {
    font-size: 1.1667em;
  }
  .l-fv::after {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 850px) {
  .l-fv__textBox {
    margin-left: 4%;
  }
}
@media screen and (min-width: 1920px) {
  .l-fv {
    max-width: 192rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
/* l-header
----------------------------------------------------------------- */
.l-bigWrapper {
  position: relative;
}
@media (min-width: 767px) {
  .l-bigWrapper {
    max-width: 39rem;
    margin-left: auto;
    margin-right: 2.1527777778%;
    z-index: 10;
    background-color: var(--black);
  }
}

@media screen and (min-width: 767px) and (max-width: 920px) {
  .l-bigWrapper {
    margin-right: 4.7826086957vw;
  }
}
/* l-footer
----------------------------------------------------------------- */
.l-footer {
  padding: 2.8rem 0 2rem;
  background: url(../images/common/footer-bg.jpg) no-repeat center center/cover;
}
.l-footer__inner {
  padding: 0 3.5rem;
}
.l-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}
.l-footer__link {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--en);
  color: var(--white);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media (min-width: 767px) {
  .l-footer__link:hover {
    opacity: 0.65;
  }
}
.l-footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8.7rem;
}
.l-footer__text {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  color: var(--white);
}
.l-footer__copyRightBox {
  margin-top: 1.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: var(--en);
  line-height: 1;
  letter-spacing: 5%;
  color: var(--white);
}
/* c-drawerMenu
-----------------------------------------------
------------------ */
.c-drawerMenu {
  display: none;
}
@media (min-width: 767px) {
  .c-drawerMenu {
    display: none;
    display: block;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-height: 39.5rem;
    background: transparent;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 1.2s 0.5s ease, visibility 1.2s 0.5s ease;
    transition: opacity 1.2s 0.5s ease, visibility 1.2s 0.5s ease;
  }
}
.c-drawerMenu.is-open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.6s 0.2s ease, visibility 0.6s 0.2s ease;
  transition: opacity 0.6s 0.2s ease, visibility 0.6s 0.2s ease;
}
.c-drawerMenu.is-open::before {
  -webkit-transform: scale(60);
          transform: scale(60);
  -webkit-transition: -webkit-transform 0.75s ease-in-out;
  transition: -webkit-transform 0.75s ease-in-out;
  transition: transform 0.75s ease-in-out;
  transition: transform 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
}
.c-drawerMenu.is-open .c-drawerMenu__wrap {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s 0.3s ease, visibility 0.5s 0.3s ease;
  transition: opacity 0.5s 0.3s ease, visibility 0.5s 0.3s ease;
}
.c-drawerMenu::before {
  content: "";
  display: inline-block;
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  background: var(--black);
  position: absolute;
  z-index: 1;
  top: -5vw;
  right: -5vw;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
@media screen and (max-width: 375px) {
  .c-drawerMenu::before {
    width: 37.5px;
    height: 37.5px;
  }
}
.c-drawerMenu__inner {
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 3;
  padding: 24.4px 35.2px 217px;
}
.c-drawerMenu__wrap {
  position: relative;
  z-index: 4;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s 0.3s ease, visibility 0.5s 0.3s ease;
  transition: opacity 0.5s 0.3s ease, visibility 0.5s 0.3s ease;
}
.c-drawerMenu__topBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.c-drawerMenu__logo {
  max-width: 37.46px;
  width: 100%;
}
.c-drawerMenu__logoLink {
  display: block;
  width: 100%;
}
.c-drawerMenu__logoImg {
  width: 100%;
}
.c-drawerMenu__closeBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32.32px;
  height: 32.32px;
  cursor: pointer;
  margin-right: -8.08px;
}
.c-drawerMenu__closeIcon {
  max-width: 16.16px;
  width: 100%;
}
.c-drawerMenu__nav {
  margin-top: 29px;
  padding: 0px 3px;
}
.c-drawerMenu__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(11px, 2.8205128205vw, 18.7px);
}
.c-drawerMenu__menuLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(3px, 0.7692307692vw, 5.1px);
  font-family: var(--mincho);
  font-size: clamp(25px, 6.4102564103vw, 42.5px);
  line-height: 1;
  font-weight: bold;
  white-space: nowrap;
  color: var(--brawn);
}
.c-drawerMenu__subText {
  display: block;
  font-size: 0.4em;
  letter-spacing: 0.2em;
}
.c-drawerMenu__linkBox {
  margin-top: 18px;
}

/* c-cta
-----------------------------------------------
------------------ */
.c-cta {
  background: url(../images/common/cta-bg.jpg) no-repeat center center/cover;
  padding: 6rem 0 4rem;
}
.c-cta__inner {
  padding: 0 2.5rem;
}
.c-cta__textBox {
  text-align: center;
}
.c-cta__title {
  font-size: 3.2rem;
  font-family: var(--en);
  font-weight: 500;
  line-height: 150%;
  color: var(--white);
}
.c-cta__read {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7;
  color: var(--white);
  text-align: center;
}
.c-cta__btnWarap {
  margin-top: 3rem;
}
.c-cta__link, .c-cta__link--bgImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 34rem;
  padding: 1.6rem 0;
  font-size: 2.4rem;
  font-weight: 600;
  font-family: var(--en);
  line-height: 1;
  background: var(--white);
  color: var(--black);
  transtion: opacity 0.3s;
}
.c-cta__link--bgImage {
  background: url(../images/common/cta-btn.jpg) no-repeat center center/cover;
  color: var(--white);
}
@media (min-width: 767px) {
  .c-cta__link:hover, .c-cta__link--bgImage:hover {
    opacity: 0.65;
  }
}
.c-cta__subText {
  font-size: 0.583333em;
  font-weight: 500;
}
.c-cta__btnResevation {
  margin-top: 2rem;
}
.c-cta__snsBox {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-cta__line {
  max-width: 5.9rem;
  width: 100%;
}
.c-cta__lineImg {
  width: 100%;
}
.c-cta__snsText, .c-cta__snsText--en {
  margin-top: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  color: var(--white);
}
.c-cta__snsText--en {
  font-family: var(--en);
  font-size: 1.7rem;
  font-weight: bold;
}

/* c-btn
-----------------------------------------------
------------------ */
.c-btn, .c-btn--img, .c-btn--black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.c-btn--black .c-btn__link {
  color: var(--white);
  border: 2px solid var(--black);
  background: var(--black);
}
.c-btn--img .c-btn__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 767px) {
  .c-btn--img .c-btn__link:hover .c-btn__img {
    fill: var(--black);
  }
}
.c-btn--img .c-btn__text {
  display: inline-block;
}
.c-btn--img .c-btn__img {
  margin-left: 0.705rem;
  display: inline-block;
  width: 100%;
  max-width: 1.9rem;
  fill: var(--white);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.c-btn__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 4.9rem;
  max-width: 23rem;
  border: 2px solid var(--white);
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--en);
  line-height: 1;
  color: var(--white);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media (min-width: 767px) {
  .c-btn__link:hover {
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--black);
  }
}

/* c-secondHeading
-----------------------------------------------
------------------ */
.c-secondHeading, .c-secondHeading--jp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.c-secondHeading--jp .c-secondHeading__title, .c-secondHeading--jp .c-secondHeading__title--white {
  font-size: 2.4rem;
  font-weight: 500;
  font-family: 500;
  line-height: 150%;
}
.c-secondHeading__title, .c-secondHeading__title--white {
  font-size: 3.2rem;
  font-weight: 500;
  font-family: var(--en);
  line-height: 150%;
  color: var(--black);
}
.c-secondHeading__title--white {
  color: var(--white);
}