/* c-secondHeading
-----------------------------------------------
------------------ */
@use "../../global" as g;

.c-secondHeading {
    display: flex;
    justify-content: center;

    &__title {
        font-size: 3.2rem;
        font-weight: 500;
        font-family: var(--en);
        line-height: 150%;
        color: var(--black);

        &--white {
            @extend .c-secondHeading__title;
            color: var(--white);
        }
    }
}